.header-holder {
  margin-bottom: 10px;
}

.header-menu {
  float: right;
  margin-top: -25px;
  margin-right: 10px;
  cursor: pointer; 
  background: #ddd;
  color: #5C5C5C;
  padding: 2px 5px;
  border-radius: 3px;
}